/* -------------------------------------------------------------------------- */
/*                              SIZE PARA TABLETS                             */
/* -------------------------------------------------------------------------- */

@media (max-width: 1200px) {
  * {
    border: 1px solid red;
  }
  .ec-contact {
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }

  #contact-center {
    margin-left: 0%;
  }

  .about-card {
    width: 100%;
  }

  footer {
    font-size: 0.2em;
  }

  .hero-text {
    justify-content: center;
    align-items: center;
  }
  #burger {
    display: block;
  }
  .nav-list {
    display: none;
  }

  .nav-list li:hover {
    background-color: green;
  }

  .nav-list li > a:hover {
    color: white;
  }

  .foot-text p {
    font-size: 8px;
  }

  #product-page {
    display: grid;
    grid-template-columns: 165px 165px 165px;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  #hero-title {
    text-align: center;
  }

  #hero-subtitle {
    display: none;
  }

  .product-title {
    font-size: 15px;
  }

  .ec-hero {
    height: 62vh;
  }

  .subtitle-off {
    font-size: 13px;
  }

  .logeiton {
    width: 100%;
  }

  .about-title {
    font-size: 15px;
  }

  .about-subtitle {
    font-size: 8px;
  }
}

/* -------------------------------------------------------------------------- */
/*                             SIZE PARA CELULARES                            */
/* -------------------------------------------------------------------------- */

@media (max-width: 414px) {
  header {
    padding: 0%;
  }

  .nav-list {
    display: block;
  }

  .logeiton {
    width: 50%;
  }

  #logo {
    width: 50px;
    height: 50px;
  }

  #cart {
    width: 30px;
    height: 30px;
  }
  .nav-ec-ul {
    gap: 2em;
  }

  #searcher {
    font-size: 0.2em;
  }

  .hero-text {
    display: none;
  }

  .ec-product-offer {
    width: 100%;
  }

  #offert {
    width: 100%;
  }
  #left,
  #right {
    display: none;
  }

  .ec-product-off h3 {
    font-size: 1.4rem;
    text-wrap: nowrap;
  }

  #offert p {
    display: none;
  }

  #btn-filter {
    width: 100%;
    text-wrap: nowrap;
  }

  #menu-burguer {
    display: block;
    width: 32px;
    height: 32px;
  }

  #ec-hero {
    width: 100%;
    height: 30vh;
  }

  #hero-title {
    font-size: 2em;
    text-align: start;
  }

  #hero-subtitle {
    font-size: 0.5em;
    text-align: start;
    text-wrap: nowrap;
  }

  .product-offer {
    margin: 10px;
    width: 100%;
    height: 240px;
  }

  .ec-filter {
    gap: 1rem;
  }

  .about-card {
    height: 100px;
    width: 100px;
  }

  .about-card p {
    font-size: 10px;
  }

  .ec-contact-form {
    gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .ec-contact-form-error {
    margin: 2px;
  }

  .ec-contact {
    height: 60vh;
  }

  form > * {
    font-size: 14px;
  }

  form > input {
    width: 100%;
  }

  form > label {
    text-align: start;
  }
  textarea {
    width: 350px;
    height: 90px;
  }

  footer {
    flex-direction: column;
    gap: 2rem;
  }

  .foot-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .product-title {
    font-size: 12px;
  }

  .block {
    right: 20px;
    width: 50%;
  }

  #hero-title {
    font-size: 1.6em;
    text-align: start;
    color: green;
  }

  .ec-hero {
    width: 100%;
  }

  #product-page {
    display: grid;
    grid-template-columns: 165px 165px;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .product-container {
    width: 130px;
  }

  .ec-product-offer {
    width: 100%;
  }
  #btn-addCart-Off {
    height: fit-content;
    width: 85%;
  }

  #contact-center {
    width: 100%;
  }

  .about-subtitle {
    display: none;
  }

  .ec-about-us {
    width: 100%;
    gap: 25px;
    height: 20vh;
  }

  .about-title {
    text-wrap: wrap;
  }

  .list-footer-item a {
    font-size: 8px;
    text-align: center;
  }

  #helper {
    width: 100%;
  }

  .nav-list {
    padding: 10px;
    min-height: 120px;
  }

  .search-navbar {
    display: none;
  }

  .total-price {
    width: auto;
    height: auto;
  }
}
