* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                HEADER                               */
/* -------------------------------------------------------------------------- */

header {
  background-color: #fce622dc;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10vh;
  top: 0.2px;
}

#logo {
  width: 60px;
  height: 60px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ec-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-ec-list a {
  text-decoration: none;
  text-align: center;
  color: black;
  text-shadow: 0.5px 0.5px 0.5px whitesmoke;
}

.nav-ec-list a:hover {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*                                SECTION HERO                                */
/* -------------------------------------------------------------------------- */

.ec-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000vh;
  padding: 17vh;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#hero-title {
  font-size: 2em;
  color: #fce622dc;
  text-shadow: 1px 2px 3px black;
}

#hero-subtitle {
  color: #141414;
  font-size: 0.9em;
  text-align: end;
}

#ec-hero {
  width: 1000px;
  height: 400px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* -------------------------------------------------------------------------- */
/*                            SECTION OFF PRODUCTS                            */
/* -------------------------------------------------------------------------- */

.ec-product-off-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ec-product-off {
  max-width: 1000vh;
  padding: 120px;
}

.ec-offert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ec-product-offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: calc(33.33% - 20px); /* Ajusta el tamaño de cada producto */
  margin: 20px;
  border: 1px solid #ccc;
  width: 150px;
  height: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

#left,
#right {
  background-color: rgb(255, 255, 82);
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 8px;
  font-size: 1.5em;
}

span {
  background: rgb(144, 8, 4);
  background: linear-gradient(
    90deg,
    rgba(144, 8, 4, 0.8827906162464986) 0%,
    rgba(249, 96, 96, 1) 45%,
    rgba(255, 59, 0, 0.8715861344537815) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Para Safari */
  background-clip: text;
  color: transparent;
}

#btn-addCart-Off {
  background-color: #fce622dc;
  padding: 2px;
  border-radius: 5px;
}

/* -------------------------------------------------------------------------- */
/*                            SECTION PRODUCT PAGE                            */
/* -------------------------------------------------------------------------- */

.ec-product-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title-ec-product {
  font-size: 1.6em;
}

.ec-filter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

#btn-filter {
  padding: 10px;
  border-radius: 7px;
  height: 45px;
  width: 150px;
  background-color: rgb(255, 255, 82);
}

.ec-product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-size: 0.3rem;
  overflow: hidden;
  height: 20px;
}
#product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 200px;
}
.product {
  display: flex;
  justify-content: center;
  flex-basis: calc(33.33% - 20px); /* Ajusta el tamaño de cada producto */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 150px;
  height: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 100px;
  height: 90px;
}

#btn-addCart {
  background-color: #fce622dc;
  padding: 5px;
  border-radius: 10px;
}

#btn-addCart:hover {
  background-color: rgb(255, 255, 82);
}

/* -------------------------------------------------------------------------- */
/*                               SECTION CONTACT                              */
/* -------------------------------------------------------------------------- */

.ec-contact {
  display: flex;
  padding: 2rem;
  background-color: #f8ea68dc;
}

.ec-contact-form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 0.5rem;
}

input {
  width: 40rem;
}

.btn-send-form {
  width: 7rem;
  border-radius: 14px;
}
