* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                HEADER                               */
/* -------------------------------------------------------------------------- */

header {
  background-color: #fce622dc;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 110px;
  top: 0.2px;
}

#logo {
  width: 80px;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ec-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-ec-list a {
  text-decoration: none;
  text-align: center;
  color: black;
  text-shadow: 0.5px 0.5px 0.5px whitesmoke;
}

.nav-ec-list a:hover {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*                                SECTION HERO                                */
/* -------------------------------------------------------------------------- */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}

#ec-hero {
  width: 1000px;
  height: 500px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* -------------------------------------------------------------------------- */
/*                            SECTION PRODUCT PAGE                            */
/* -------------------------------------------------------------------------- */

.ec-product-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title-ec-product {
  font-size: 1.6em;
}

.ec-filter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

#btn-filter {
  padding: 10px;
  border-radius: 7px;
  height: 45px;
  width: 150px;
  background-color: rgb(255, 255, 82);
}

.ec-product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-size: 0.3rem;
  overflow: hidden;
  height: 20px;
}
#product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 200px;
}
.product {
  display: flex;
  justify-content: center;
  flex-basis: calc(33.33% - 20px); /* Ajusta el tamaño de cada producto */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 150px;
  height: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 100px;
  height: 90px;
}

#btn-addCart {
  background-color: #fce622dc;
  padding: 5px;
  border-radius: 10px;
}

#btn-addCart:hover {
  background-color: rgb(255, 255, 82);
}

/* -------------------------------------------------------------------------- */
/*                               SECTION CONTACT                              */
/* -------------------------------------------------------------------------- */

.ec-contact {
  display: flex;
  padding: 2rem;
  background-color: #f8ea68dc;
}

.ec-contact-form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 0.5rem;
}

input {
  width: 40rem;
}

.btn-send-form {
  width: 7rem;
  border-radius: 14px;
}
